// header style for large screen
header {
    background: url(./../images/bg-hero-desktop.svg),
        hsl(193, 100%, 96%);

    .hero {
        flex-direction: row;
        text-align: start;
        align-items: center;
        gap: 4rem;



        .message {
            width: 40%;
            margin-top: 6rem;

            h1,
            p {
                padding: 0;
            }
        }

        .illustration {
            margin: 0;
            padding: 0;
            width: 60%;

            img {
                width: 100%;
            }
        }
    }
}

// main section style for large screen

main {

    .wrapper {
        max-width: 1320px;
    }

    section {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10rem;
        // height: 420px;
        padding: 3rem 2rem 3rem 7rem;
    }

    .img-container {
        width: 45%;

        img {
            margin: 0;
            width: 100%;
        }
    }


    .text-container {
        width: 55%;
        text-align: left;
    }
}

.grow-together,
.your-users {
    .img-container {
        order: 2;
    }
}


// footer style for large screen 

footer {
    h4 {
        text-align: right;
        margin-top: 4rem;
    }
}

.footer-main-content>.wrapper {
    flex-direction: row;
    gap: 12rem;

    .address {
        width: 35%;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 3.8rem 0 0 0;
        width: 65%;

        .links-one,
        .links-two {
            width: 30%;
        }

        .links-one,
        .links-two {
            li:first-of-type {
                margin: 0;
            }
        }

        .links-three {
            margin: 0;
            width: 40%;

            ul {
                text-align: left;
            }
        }
    }
}